<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kanban Board</title>
    <meta name="author" content="Wei-Ting Yap">
    <meta name="description" content="Basic Kanban web application.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class="container-fluid">

      <div class="row bg-1 text-center" id="header">
        <div class="col">
          <h1> Kanban board </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 bg-3">
          <div class="col">
            {% if ntasks == 0 %}
            <div class="row" style="background:red;color:black;margin-top:10px;">
              Oops, you have no active tasks. Add tasks now!
            </div>
            {% endif %}
            <h2 class="col-title"> Add a new item </h2>
            <form action="{{ url_for('add') }}" method="POST">
              <div class="form-group">
                <label for="newtask_name">Task name</label>
                <input type="text" class="form-control" id="newtask_name" name="newtask_name">
              </div>
              <div class="form-group">
                <label for="newtask_desc">Task description</label>
                <input type="text" class="form-control" id="newtask_desc" name="newtask_desc">
              </div>
              <label for=newtask_status>Task status</label>
              <select class="custom-select" id="newtask_status" name="newtask_status">
                <option selected value="todo">To-do</option> <!-- default status: to-do-->
                <option value="doing">Doing</option>
                <option value="done">Done</option>
              </select>
              <div><br /><br /></div>
              <button type="submit" class="btn btn-light">Submit</button>
            </form>
            <br />
          </div>
        </div>

        <div class="col-sm-3">
          <div class="row">
            <h2 class="col-title"> To-do </h2>
          </div>

          {% for item in todo %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.desc }}</p>
              <form action="{{ url_for('update', id=item.id) }}" method="POST">
                <button type="submit" class="btn btn-dark" name="updatebtn" value="{{ item.id }}">Get started!</button>
              </form>
            </div>
          </div>
          <div class="row betw-card"></div>
          {% endfor %}

        </div>

        <div class="col-sm-3">
          <div class="row">
            <h2 class="col-title"> Doing </h2>
          </div>
          {% for item in doing %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.desc }}</p>
              <form action="{{ url_for('update', id=item.id) }}" method="POST">
                <button type="submit" class="btn btn-dark" name="updatebtn" value="{{ item.id }}">Done!</button>
              </form>
            </div>
          </div>
          <div class="row betw-card"></div>
          {% endfor %}
        </div>

        <div class="col-sm-3">
          <div class="row">
            <h2 class="col-title"> Done </h2>
          </div>
          {% for item in done %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.desc }}</p>
              <form action="{{ url_for('update', id=item.id) }}" method="POST">
                <button type="submit" class="btn btn-dark" name="updatebtn" value="{{ item.id }}">Clear</button>
              </form>
            </div>
          </div>
          <div class="row betw-card"></div>
          {% endfor %}
        </div>

      </div>

      <div class="row empty-banner"></div>

      <div class="row banner">
        <div class="col text-center">
          <p> Kanban web app by Wei-Ting Yap for CS162: Software Development, Spring 2020, Minerva Schools at KGI.</p>
        </div>
      </div>

  </div>
  </body>
</html>
