<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kanban Board</title>
    <meta name="author" content="Wei-Ting Yap">
    <meta name="description" content="Basic Kanban web application.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
      #header, .banner{
        padding: 10px;
      }
      .empty-banner {
        background-color: #ffffff; /* White */
        padding: 10px;
      }
      .bg-1 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
      }
      .bg-2 {
        background-color: #ffffff; /* White */
        color: #555555;
      }
      .card {
        padding: 10 10 10 10;
      }
      .col-title{
        padding: 2px 10px 2px 10px;
      }

    </style>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row bg-1 text-center" id="header">
        <div class="col">
          <h1> Kanban board </h1>
        </div>
      </div>

      <div class="row banner bg-1">
        <div class="col">
          Add a new item:
          <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="newtask">
            <input type="submit">
          </form>
        </div>
      </div>

      <div class="row empty-banner"></div>

      <div class="row">

        <div class="col-sm-4">
          <div class="row">
            <h2 class="col-title"> To-do </h2>
          </div>

          {% for item in todo %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.desc }}</p>
              <form action="{{ url_for('update') }}" method="POST">
                <button type="submit" class="btn btn-primary" name="updatebtn" value="{{ item.id }}">Get started!</button>
              </form>
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="col-sm-4">
          <div class="row">
            <h2 class="col-title"> Doing </h2>
          </div>
          {% for item in doing %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.desc }}</p>
              <form action="{{ url_for('update') }}" method="POST">
                <button type="submit" class="btn btn-primary" name="updatebtn" value="{{ item.id }}">Done!</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="col-sm-4">
          <div class="row">
            <h2 class="col-title"> Done </h2>
          </div>
          {% for item in done %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.desc }}</p>
              <form action="{{ url_for('update') }}" method="POST">
                <button type="submit" class="btn btn-primary" name="updatebtn" value="{{ item.id }}">Clear</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

      <div class="row empty-banner"></div>

      <div class="row banner">
        <div class="col text-center">
          <p> Kanban web app by Wei-Ting Yap for CS162: Software Development, Spring 2020, Minerva Schools at KGI.</p>
        </div>
      </div>

  </div>
  </body>
</html>
